.lists-container{
    display: grid;
    gap: 3rem;
    padding: 2rem;
}

.change-password-notice {
    background-color: #ffb11236;
    border: 1px solid #00000021;
    padding: 1rem;
    border-radius: 0.5rem;

    &.sent {
        background-color: #12ff3536;
    }
}