<div class="right-container">
    <div class="container">
        <div class="first-right">
            <div class="icon-box">
                <img class="icon-img" src="/assets/imgs/community.png">
                <div>
                    <p class="bold-subtitle">Deprinzi abilități cheie</p>
                    <hr />
                    <p>Vei fi capabil să iei decizii profitabile de investiții și să ieși învingător din orice situație
                        financiară nefavorabilă.</p>
                </div>
            </div>
            <div class="icon-box">
                <img class="icon-img" src="/assets/imgs/exclusive-community.png">
                <div>
                    <p class="bold-subtitle">Ai acces la portofoliul nostru de investiții</p>
                    <hr />
                    <p>Primești notificare instantă de fiecare dată când cumpărăm sau vindem, ca să poți profita și tu
                        de momentele din piață pentru a face bani. Afli în ce investim, când și de ce.</p>
                </div>
            </div>
            <div class="icon-box">
                <img class="icon-img" src="/assets/imgs/premium-quality.png">
                <div>
                    <p class="bold-subtitle">Te ghidăm constant</p>
                    <hr />
                    <p>Te luăm de la 0 și te ghidăm pe tot parcursul drumului tău către independența financiară. Te
                        sunăm periodic, ne vedem live pe Zoom de 2 ori pe săptămână și discutăm constant pe chat. </p>
                </div>
            </div>
            <div class="icon-box">
                <img class="icon-img" src="/assets/imgs/constant-updates.png">
                <div>
                    <p class="bold-subtitle">Ai acces în comunitatea VIP</p>
                    <hr />
                    <p>Noi și cei peste 1000 de oameni din grupul privat de Discord te așteptăm să creștem împreună, să
                        dezbatem constant strategii, oportunități și să împrietenim - până la urmă, avem interese și
                        stiluri de viață comune.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt">
        <div class="second-right">
            <div class="icon-box">
                <img class="icon-img" src="/assets/imgs/pay-with-card.png">
                <div>
                    <p class="bold-subtitle">Plătește cu cardul</p>
                    <hr />
                    <p>Plata o poți face cu cardul personal sau al firmei. Folosim procesatorul securizat de plată
                        Netopia, unul dintre cele mai sigure și utilizate platforme de plată din România.</p><br>
                    <p>Plata se înregistrează instant, iar apoi ai acces la materialele din platformă și ne vedem la
                        ședința de onboarding.</p>
                    <p>Tipurile de card acceptate sunt:</p>
                    <div class="cards-wrapper"><img class="card-img" src="/assets/imgs/visa.png"><img class="card-img"
                            src="/assets/imgs/Mastercard.png"></div>
                    <img style="height: 7rem;
                    padding-bottom: 1rem;" src="/assets/imgs/money-back.png">
                    <p>Dacă nu ești mulțumit de program, în termen de 14 zile, conform termenilor și condițiilor, îți dăm banii înapoi.</p>

                </div>
            </div>
        </div>
    </div>
</div>