$mainColor: #ffd800;
$secondaryColor: #006378;
$fontStyleMain: 'Open Sans',
sans-serif;
$fontStyleSecond: 'Oswald',
sans-serif;
.right-container {
    width: 100%;
    margin-left: 20px;
    .first-right {
        .icon-box {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 20px;
        }
    }
    .second-right {
        .icon-box {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 20px;
        }
        .card-img {
            display: inline-block;
            max-width: 100px;
            margin: 10px;
        }
        .cards-wrapper .card-img:first-child {
            margin-left: 0;
        }
    }
    .icon-img {
        max-width: 70px;
        margin-right: 20px;
    }
    .bold-subtitle {
        font-size: 1.2rem;
        color: $secondaryColor;
    }
    p {
        font-size: .9rem;
        margin: 0;
    }
    hr {
        margin: 5px 0;
    }
}