<div class="right-container">
    <div class="container">
        <div class="first-right">
            <div class="icon-box">
                <img class="icon-img" src="/assets/imgs/community.png">
                <div>
                    <p class="bold-subtitle">Avantaj 1</p>
                    <hr/>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="icon-box">
                <img class="icon-img" src="/assets/imgs/exclusive-community.png">
                <div>
                    <p class="bold-subtitle">Avantaj 2</p>
                    <hr/>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="icon-box">
                <img class="icon-img" src="/assets/imgs/premium-quality.png">
                <div>
                    <p class="bold-subtitle">Avantaj 3</p>
                    <hr/>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="icon-box">
                <img class="icon-img" src="/assets/imgs/constant-updates.png">
                <div>
                    <p class="bold-subtitle">Avantaj 4</p>
                    <hr/>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt">
        <div class="second-right">
            <div class="icon-box">
                <img class="icon-img" src="/assets/imgs/pay-with-card.png">
                <div>
                    <p class="bold-subtitle">Plătește cu cardul</p>
                    <hr/>
                    <p>Plata se face cu cardul personal sau al firmei. Folosim procesatorul securizat de plată Paylike, unul dintre cele mai sigure din lume.</p><br>
                    <p>Tipurile de card acceptate sunt:</p>
                    <div class="cards-wrapper"><img class="card-img" src="/assets/imgs/visa.png"><img class="card-img" src="/assets/imgs/Mastercard.png"></div>
                    <p>Plata se înregistrează instant, apoi ai acces la platformă.</p>
                    <p>Abonamentul Upriserz are activată automat plata recurentă. Asta înseamnă că la data scadentă a abonamentului se va efectua automat plata de pe cardul tău, ca tu să-ți păstrezi accesul neîntrerupt în platformă. Poti opri recurența în
                        orice moment, direct din contul tău Upriserz, de la secțiunea Abonamente.</p>
                </div>
            </div>
        </div>
    </div>
</div>