<div class="loading-overlay">

</div>

<form>
    <p>
        <mat-form-field>
            <input #emailInput type="text" matInput placeholder="Email" >
            <mat-hint>marius@test.com</mat-hint>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <input #passwordInput type="password" matInput placeholder="Parola" >
            <mat-hint>Wasd123!@#</mat-hint>
        </mat-form-field>
    </p>

    <p class="error">
    </p>

    <div class="login-button-container">
        <button type="button" class="login-button" mat-raised-button >
            <span *ngIf="!signinFetching" >Login</span>
            <span *ngIf="signinFetching" >Loging in</span>
        </button>
    </div>

</form>