<div class="loading-overlay">

</div>

<form>
    <p>
        <mat-form-field>
            <input #passwordInput [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Parola" >
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon class="toggle-password">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <input [disabled]="!passwordInput" [type]="hidePasswordConfirmation ? 'password' : 'text'" #passwordConfirmationInput matInput placeholder="Confirmă parola" >
            <button mat-icon-button matSuffix (click)="hidePasswordConfirmation = !hidePasswordConfirmation" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswordConfirmation">
                <mat-icon class="toggle-password">{{hidePasswordConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
        </mat-form-field>
    </p>

    <p class="error">
    </p>

    <div class="login-button-container">
        <button (click)="changePassword(passwordInput.value)" [disabled]="!((passwordInput.value == passwordConfirmationInput.value) && passwordInput.value)" type="button" class="login-button" mat-raised-button >
            <span *ngIf="!signinFetching" >Schimbă parola</span>
            <span *ngIf="signinFetching" >Procesare</span>
        </button>
    </div>

</form>