<div class="left-container">
    <div class="container">
        <p><span class="bullet-number">1</span> <span class="bold-subtitle">Detalii Cont</span></p>

        <form class="checkout-form">

            <div class="form-inputs">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nume</mat-label>
                    <input matInput placeholder="Ex. Marius" value="">
                  </mat-form-field>
    
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Prenume</mat-label>
                    <input matInput placeholder="Ex. Marius" value="">
                  </mat-form-field>
    
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ex. marius@example.com" value="">
                  </mat-form-field>
    
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Telefon</mat-label>
                    <input matInput placeholder="Ex. Marius" value="">
                  </mat-form-field>
    
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Adresa</mat-label>
                    <input matInput placeholder="Ex. Marius" value="">
                  </mat-form-field>
            </div>
            <button mat-raised-button class="continue-button" color="primary">Continuă</button>

        </form>

    </div>

</div>