$mainColor: #ffd800;
$secondaryColor: #006378;
$fontStyleMain: 'Open Sans',
sans-serif;
$fontStyleSecond: 'Oswald',
sans-serif;
.bold-subtitle {
    margin: .5rem 0 1rem;
    font-family: $fontStyleSecond;
    font-size: 2rem;
}

.form-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2rem;
}

.continue-button {
    padding: 5px 45px;
    background-color: green;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $fontStyleMain;
}

@media (max-width: 600px) {
    .left-container {
        margin: 0;
    }
    .form-inputs {
        display: grid;
        grid-template-columns: 1fr;
        gap: unset;
    }
    .continue-button {
        width: 100%;
    }
}