<div class="left-container">
    <div class="container">
        <p><span class="bullet-number">1</span> <span class="bold-subtitle">Detalii Cont</span></p>

        <form>
            <ul class="formular">
                <li>
                    <label for="fname">Nume</label>
                    <input type="text">
                </li>
                <li>
                    <label for="lname">Prenume</label>
                    <input type="text">
                </li>
                <li>
                    <label for="mail">Email</label>
                    <input type="email">
                </li>
                <li>
                    <label for="phone">Telefon</label>
                    <input type="tel">
                </li>
                <li>
                    <label for="adress">Adresa</label>
                    <input type="text">
                </li>
                <li>
                    <input type="submit" value="Plasează comanda">
                </li>
            </ul>
        </form>
    </div>
    <div class="container mt">
        <p class="bold-subtitle">Produse</p>
    </div>
</div>