::ng-deep {
  app-login,
  app-register,
  app-change-password {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: fit-content;
    margin: auto;
    padding: 2rem;
    border: 1px solid #28282817;
    border-radius: 5px;
  }
}
