::ng-deep {
  app-login,
  app-register,
  app-change-password,
  app-forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: fit-content;
    margin: auto;
    padding: 2rem;
    border: 1px solid #28282817;
    border-radius: 5px;
  }
}

::ng-deep {
  app-root {
    height: 100%;
    display: grid;
    grid-template-rows: min-content auto min-content;
    grid-row-gap: 1rem;
  }
}
